#container1 {
<<<<<<< HEAD
  /* display: none; */
=======
>>>>>>> 045859257659603afb4606e63fee44b250bf493c
  background-image: url("../../assets/image/asd.jpeg");
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  color: blueviolet;
}

#logo2 {
  width: 100%;
}
#line {
  width: 100px;
  height: 5px;
  border-radius: 10px;
}
.container2 {
  text-align: center;
<<<<<<< HEAD
  padding: 100px;
  background-color: rgb(251, 242, 244);
=======
  padding: 100px 300px 100px 300px;
  background-color: white;
>>>>>>> 045859257659603afb4606e63fee44b250bf493c
}
#container3 {
  display: flex;
}
#img1 {
  width: 800px;
  height: 800px;
<<<<<<< HEAD
  border-radius: 20px 0 0 20px;
=======
  border-radius: 0px 0 300px 300px;
>>>>>>> 045859257659603afb4606e63fee44b250bf493c
}
#text {
  /* justify-content: center; */
  text-align: center;
  padding: 150px;
}
.container4 {
<<<<<<< HEAD
  text-align: center;
  padding: 100px;
  background-color: #d6559e;
  border-radius: 20px 0 20px 0;
=======
  display: flex;
  text-align: center;
  padding: 100px;
  background: rgb(228, 34, 141);
  background: radial-gradient(
    circle,
    rgba(228, 34, 141, 1) 0%,
    rgba(242, 121, 190, 1) 100%
  );
  border-radius: 20px 300px 300px 0;
  color: rgb(70, 6, 47);
}
#logo1 {
  width: 400px;
>>>>>>> 045859257659603afb4606e63fee44b250bf493c
}
.container5 {
  display: flex;
  text-align: center;
<<<<<<< HEAD
}
#cafe {
  width: 600px;
  height: 800px;
=======
  color: rgb(140, 92, 3);
}
#moreice {
  width: 800px;
  height: 600px;
>>>>>>> 045859257659603afb4606e63fee44b250bf493c
}
#text2 {
  padding: 250px;
}
<<<<<<< HEAD
.container6 {
  display: flex;
  text-align: center;
  background-color: #f2f6f7;
=======

.text5 {
  padding-top: 250px;
}
.container6 {
  display: flex;

  text-align: center;
>>>>>>> 045859257659603afb4606e63fee44b250bf493c
}
.container7 {
  display: flex;
}
#logoapp {
  width: 500px;
  height: 800px;
  padding-right: 100px;
}
<<<<<<< HEAD
=======
.k {
  width: 300px;
  height: 300px;
  border-radius: 300px;
  padding: 30px;
}
.k:hover {
  width: 320px;
  height: 320px;
}
.h2K {
  color: #bc066d;
  text-align: center;
}
#carousel {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#btn {
  margin: 30px;
  padding: 15px;
}
#logo1 {
  padding: 0 100px 0 100px;
}
#gif {
  border-radius: 0 300px 300px 0;
}
#choko {
  width: 100%;
  height: 60px;
}
#girl1 {
  display: flex;
  border-radius: 200px 0 0 200px;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}
.text5_5 {
  margin: 40px;
  text-align: center;
  color: aliceblue;
}
#girl {
  padding-left: 300px;
  width: 200px;
}
footer {
  display: flex;
  justify-content: space-evenly;
  background: rgb(242, 121, 190) !important;
  background: radial-gradient(
    circle,
    rgba(242, 121, 190, 1) 0%,
    rgba(228, 34, 141, 1) 100%
  ) !important;
  color: aliceblue;
}
#logoFooter {
  width: 200px;
}
video {
  width: 800px;
  border-radius: 400px;
}
#container7 {
  display: flex;
  text-align: center;
}
>>>>>>> 045859257659603afb4606e63fee44b250bf493c
