.navbar-container {
  background-color: rgb(150, 24, 116) !important;
}

.circleIconMail {
  background-color: purple !important;
}

.btn-navbar {
  margin-left: 20px !important;
  background-color: rgb(255, 160, 240) !important;
}
