/* .footer {
  margin-top: auto;
  background: #f0e8a3;
  justify-content: center !important;
  text-align: center;
  align-items: center;
  display: flex;
  padding: 20px;
}

.footer-inside {
  display: flex;
  justify-content: center !important;
}
span {
  text-align: center;
} */
#footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: rgb(242, 121, 190) !important;
  background: radial-gradient(
    circle,
    rgba(242, 121, 190, 1) 0%,
    rgba(228, 34, 141, 1) 100%
  ) !important;
  color: aliceblue;
  border-radius: 70px 70px 0 0;
  border: 2px rgb(134, 26, 87) solid;
}
#logoFooter {
  width: 100px;
}
