.cardInp {
  margin: 40px;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.img {
  width: 60%;
}
.payment {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url("../../assets/image/fonAdd2.jpeg");
  width: 100%;
  height: 680px;
}
.btn {
  color: pink;
}
.cardContent {
  background-color: pink;
  background-image: url("../../assets/image/fonAdd2.jpeg");
}
.cardheader {
  background-image: url("../../assets/image/fonAdd2.jpeg");
}
#inp {
  display: flex;
  flex-direction: column;
}
